@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    background-color: black !important;
}
.navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: #29f700;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid  #29f700;

}
#navbarSupportedContent button{
    background-color: #29f700;
}
#navbarSupportedContent button:hover{
    background-color: #fff;
}
/* NAVBAR END  */

.home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)), url(images/Spicy-20220806T120449Z-001/Spicy/bg.png); */
    background: url(images/Spicy-20220806T120449Z-001/Spicy/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.home h1{
    font-size: 100px;
    color: #fff;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 7px 4px #ccc;
}
.home p{
    font-size: 18px;
    color: #fff;
}
.home .input-group{
    width: 45%;
    height: 45px;
}
.signin{
    background-color: green;
    color: #fff;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
}
@media only screen and (max-width:812px) {
.home h1 {
    font-size: 65px;
}

.home p {
    font-size: 12px;
}
.home {
    height: 60vh;
}
.home .input-group {
    width: 70%;
}
}    
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .home {
        height: 45vh;
    }
}
/* home END */

.about{
    background-color: #ea1d6f !important;
}
.about p{
    text-align: justify;
}
/* about end  */

#product{
    background-color: #e5e5e5;
}
#product img{
    width: 200px;
    height: 200px;
}
.card{
    width: 250px;
    height: 300px;
    background-color: #e5e5e5;
    border: 0;
    border-radius: 20px;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                inset 4px 4px 10px white;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 20px 60px;
}
.card:hover{
    background-color: #ea1d6f;
    color: #fff;
    transform: scale(0.9);
}
/* product end */
#contact{
    margin-top: 100px;
    margin-bottom: 75px;
}
/* contact end  */
#footer{
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 40px;
    padding: 5px 0;
}